@page "/auth"

<PageTitle>Login | Register</PageTitle>

<main>
    <section class="form-section">
        <div class="container">
            <div class="form-container">
                <div class="register-form-title">
                    <h2 class="section-title">Register</h2>
                </div>
                <EditForm Model="@RegisterDto" OnValidSubmit="HandleRegister" FormName="Register" class="form" id="register-form">
                    <DataAnnotationsValidator />

                    <div class="form-previews">
                        @if (Avatars != null && Avatars.Count() > 0)
                        {
                            <div class="form-preview">
                                <h4 class="form-subtitle">Preview</h4>
                                <div class="avatar-preview">
                                    <div class="avatar">
                                        <img class="avatar-img" src="@selectedAvatar" />
                                    </div>
                                    <h3 class="register-fullname">@RegisterDto.FullName</h3>
                                </div>
                                <div class="form-control">
                                    <InputNumber class="hidden" id="avatar-input" @bind-Value="RegisterDto.AvatarId" />
                                    <ValidationMessage For="@(() => RegisterDto.AvatarId)" />
                                </div>
                            </div>
                            <div class="form-preview">
                                <h4 class="form-subtitle">Choose avatar</h4>
                                <div class="new-avatars">
                                    @foreach (var avatar in Avatars)
                                    {
                                        <div class="avatar" @onclick="() => SelectAvatar(avatar)">
                                            <img class="avatar-img" src="@avatar.ImageUrl" />
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>

                    <div class="form-inputs-container">
                        <div class="form-inputs">
                            @if (!string.IsNullOrEmpty(registerError))
                            {
                                <div class="validation-message">@registerError</div>
                            }

                            <div class="form-control">
                                <div class="form-input-box">
                                    <InputText id="fullNameInput" @bind-Value="RegisterDto.FullName" class="form-input" placeholder="Full Name" required />
                                    <label for="fullname" class="form-label">Full Name</label>
                                </div>
                                <ValidationMessage For="@(() => RegisterDto.FullName)" />
                            </div>

                            <div class="form-control">
                                <div class="form-input-box">
                                    <InputText id="register-username" @bind-Value="RegisterDto.UserName" class="form-input" placeholder="Username" required />
                                    <label for="username" class="form-label">Username</label>
                                </div>
                                <ValidationMessage For="@(() => RegisterDto.UserName)" />
                            </div>

                            <div class="form-control">
                                <div class="form-input-box">
                                    <InputText type="email" id="email" @bind-Value="RegisterDto.Email" class="form-input" placeholder="Email" required />
                                    <label for="email" class="form-label">Email</label>
                                </div>
                                <ValidationMessage For="@(() => RegisterDto.Email)" />
                            </div>

                            <div class="form-control">
                                <div class="form-input-box">
                                    <InputText id="password1" @bind-Value="RegisterDto.Password" class="form-input"
                                               type="@((isPasswordVisible) ? "text" : "password")" placeholder="Password" required />
                                    <label for="password1" class="form-label">Password</label>
                                    <i class="fa-regular @(isPasswordVisible ? "fa-eye" : "fa-eye-slash") password-show-btn"
                                       @onclick="() => isPasswordVisible = !isPasswordVisible"></i>
                                </div>
                                <ValidationMessage For="@(() => RegisterDto.Password)" />
                            </div>

                            <div class="form-control">
                                <div class="form-input-box">
                                    <InputText id="password2" @bind-Value="RegisterDto.ConfirmPassword" class="form-input"
                                               type="@((isPasswordVisible) ? "text" : "password")" placeholder="Confirm Password" required />
                                    <label for="password2" class="form-label">Confirm Password</label>
                                    <i class="fa-regular @(isPasswordVisible ? "fa-eye" : "fa-eye-slash") password-show-btn"
                                       @onclick="() => isPasswordVisible = !isPasswordVisible"></i>
                                </div>
                                <ValidationMessage For="@(() => RegisterDto.ConfirmPassword)" />
                            </div>
                        </div>

                        <div class="form-buttons">
                            <button type="submit" class="form-button btn-green">Register</button>
                        </div>

                        <div class="form-checkboxes">
                            <div class="form-info">
                                <label class="form-label">Have an account already?</label>
                                <h5 @onclick="() => isLoginPopupVisible = !isLoginPopupVisible" id="login-btn">Log in</h5>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </section>

    <section class="popup-section @(isLoginPopupVisible ? "active" : "")" id="login-popup">
        <div class="popup">
            <h2 class="popup-title">Login</h2>

            <EditForm Model="@LoginDto" OnValidSubmit="HandleLogin" FormName="Login" class="login-form">
                <DataAnnotationsValidator />

                <div class="form-control">
                    <div class="form-input-box">
                        <InputText @bind-Value="LoginDto.UserName" id="username" class="form-input" required />
                        <label for="username" class="form-label">Username</label>
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <ValidationMessage For="@(() => LoginDto.UserName)" />
                </div>

                <div class="form-control">
                    <div class="form-input-box">
                        <InputText @bind-Value="LoginDto.Password" id="password" class="form-input"
                                   type="@((isPasswordVisible) ? "text" : "password")"  required />
                        <label for="password" class="form-label">Password</label>
                        <i class="fa-regular @(isPasswordVisible ? "fa-eye" : "fa-eye-slash") password-show-btn"
                           @onclick="() => isPasswordVisible = !isPasswordVisible"></i>
                    </div>
                    <ValidationMessage For="@(() => LoginDto.Password)" />
                </div>

                @if (!string.IsNullOrEmpty(loginError))
                {
                    <div class="validation-message">@loginError</div>
                }

                <button type="submit" class="btn-green">Login</button>
                <button @onclick="() => isForgotPasswordPopupVisible = !isForgotPasswordPopupVisible" 
                    type="button" class="btn-outline-green">Forgot Password?</button>

                <div class="register-link">
                    <p>Don't have an account? <span id="register-btn" @onclick="() => isLoginPopupVisible = !isLoginPopupVisible">Register</span></p>
                </div>
            </EditForm>
        </div>
    </section>

    <section class="popup-section @(isForgotPasswordPopupVisible ? "active" : "")" id="forgot-password-popup">
        <div class="popup">
            <h2 class="popup-title">Forgot Password</h2>
            <EditForm Model="ForgotPasswordDto" OnValidSubmit="SubmitForgotPassword" FormName="ForgotPassword" id="forgot-password-form" class="popup-form">
                <DataAnnotationsValidator />

                <div class="form-control">
                    <label for="forgot-password-email" class="form-label">Enter your email address:</label>
                    <InputText type="email" @bind-Value="ForgotPasswordDto.Email" id="forgot-password-email" class="form-input" placeholder="Type here..." required />
                    <ValidationMessage For="@(() => ForgotPasswordDto.Email)" />
                </div>
                <button type="submit" class="btn-green">Send Verification Code</button>
            </EditForm>
        </div>
    </section>

    <section class="popup-section @(isVerifyCodePopupVisible ? "active" : "")" id="verify-code-popup">
        <div class="popup">
            <h2 class="popup-title">Verify Code</h2>
            <EditForm Model="VerifyCodeDto" OnValidSubmit="SubmitVerifyCode" FormName="VerifyCode" id="verify-code-form" class="popup-form">
                <DataAnnotationsValidator />

                <div class="form-control">
                    <label for="otpCode" class="form-label">Verification Code:</label>
                    <InputText @bind-Value="VerifyCodeDto.OtpCode" id="otpCode" class="form-input" placeholder="Type here..." required />
                    <ValidationMessage For="@(() => VerifyCodeDto.OtpCode)" />
                </div>
                <button type="submit" class="btn-green">Verify Code</button>
            </EditForm>
        </div>
    </section>

    <section class="popup-section @(isResetPasswordPopupVisible ? "active" : "")" id="reset-password-popup">
        <div class="popup">
            <h2 class="popup-title">Reset Password</h2>
            <EditForm Model="ResetPasswordDto" OnValidSubmit="SubmitResetPassword" FormName="ResetPassword" id="reset-password-form" class="popup-form">
                <DataAnnotationsValidator />

                <div class="form-control">
                    <div class="form-input-box">
                        <InputText @bind-Value="ResetPasswordDto.NewPassword" name="new-password1" id="new-password1"
                                    type="@((isPasswordVisible) ? "text" : "password")" class="form-input" required />
                        <label for="new-password1" class="form-label">New Password</label>
                        <i class="fa-regular @(isPasswordVisible ? "fa-eye" : "fa-eye-slash") password-show-btn"
                           @onclick="() => isPasswordVisible = !isPasswordVisible"></i>
                    </div>
                    <ValidationMessage For="@(() => ResetPasswordDto.NewPassword)" />
                </div>
                <div class="form-control">
                    <div class="form-input-box">
                        <InputText @bind-Value="ResetPasswordDto.ConfirmPassword" name="new-password2" id="new-password2" class="form-input"
                                   type="@((isPasswordVisible) ? "text" : "password")" required />
                        <label for="new-password2" class="form-label">Confirm New Password</label>
                        <i class="fa-regular @(isPasswordVisible ? "fa-eye" : "fa-eye-slash") password-show-btn"
                           @onclick="() => isPasswordVisible = !isPasswordVisible"></i>
                    </div>
                    <ValidationMessage For="@(() => ResetPasswordDto.ConfirmPassword)" />
                </div>


                <button type="submit" class="btn-green">Reset Password</button>
            </EditForm>
        </div>
    </section>
</main>