@page "/wallet"

<PageTitle>Connect Wallet</PageTitle>

<main>
    <section class="connect-wallet-section">
        <div class="container">
            <div class="connect-wallet">
                <div class="connect-wallet-desc">
                    <h2 class="section-title">Connect Wallet</h2>
                    <p class="section-desc">
                        If you don't have a wallet yet, you can select a provider and create one now.
                    </p>
                </div>
                <div class="connect-wallet-tabs">
                    @foreach (var blockchain in Enum.GetValues<Blockchain>())
                    {
                        <div class="connect-wallet-tab">
                            <input type="radio" name="blockchain" id="@blockchain" value="@blockchain" class="hidden">
                            <label for="@blockchain" class="connect-wallet-tab-text">@blockchain</label>
                        </div>
                    }
                </div>
                @if (Providers != null)
                {
                    <div class="connect-wallet-list">
                        @foreach (var provider in Providers)
                        {
                            <div class="wallet">
                                <div class="wallet-image">
                                    <img src="@provider.ImageUrl">
                                </div>
                                <div class="wallet-desc">
                                    <input type="radio" name="provider" id="@($"provider-{provider.Id}")" value="@provider.Id" class="hidden">
                                    <label for="@($"provider-{provider.Id}")" class="wallet-name">@provider.Name</label>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </section>

    @if (SelectedProvider != null && SelectedBlockchain != null)
    {
        <section class="popup-section">
            <div class="popup">
                <div class="popup-logo-header">
                    <div class="popup-logo">
                        <div class="wallet">
                            <div class="wallet-image">
                                <img src="@SelectedProvider.ImageUrl">
                            </div>
                            <div class="wallet-desc">
                                <h3 class="wallet-name">@SelectedProvider.Name</h3>
                                <p class="wallet-info">@SelectedBlockchain</p>
                            </div>
                        </div>
                    </div>
                    <div class="popup-header">
                        <h3 class="popup-title">Sign this petition?</h3>
                        <p class="popup-desc">Sign a message using your wallet <br> to continue</p>
                    </div>
                </div>
                <div class="popup-detail">
                    @if (Wallet != null && User != null)
                    {
                        <div class="popup-user-wallet">
                            <div class="avatar">
                                <img class="avatar-img" src="@User.Avatar?.ImageUrl">
                            </div>
                            <div class="popup-wallet-desc">
                                <h4 class="popup-user-name">@User.FullName</h4>
                                <div class="popup-wallet-detail">
                                    <p class="popup-wallet-link">@Wallet.Key</p>
                                    <div class="popup-wallet-connected">Connected</div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="popup-subheader">
                        <h4>Welcome to NFTs Art!</h4>
                        <p class="popup-desc popup-subheader-desc">
                            <span class="extra-content" data-length="140">
                                Click to sign in and accept the NFTs Art Term of Service:
                                https://example-nftsart.io/terms
                            </span>
                            <span class="show-more">Show more</span>
                        </p>
                    </div>
                </div>
                <div class="popup-buttons">
                    <button type="button" class="btn-outline-green" id="wallet-cancel-btn">Cancel</button>
                    <button type="submit" class="btn-green" id="wallet-connect-btn">Connect</button>
                </div>
            </div>
        </section>
    }
</main>