@page "/"

<PageTitle>Home</PageTitle>

<main>
    <section class="hero-section">
        <div class="hero-info">
            <span class="hero-title">
                Collect Super Rare <span>NFTs</span> Art
                <i class="gear-icon">
                    <i class="shadow-icon"></i>
                </i>
            </span>
            <p class="section-desc">
                Design, create, store and trade unique NFTs easily
                <br>with zero fees!
            </p>
            <div class="hero-avatars">
                <img class="hero-avatar" src="/img/avatars/avatar.jpeg">
                <img class="hero-avatar" src="/img/avatars/avatar2.jpeg">
                <img class="hero-avatar" src="/img/avatars/avatar3.jpeg">
                <div class="more-avatar hero-avatar"><span>+50K</span></div>
            </div>
        </div>
        <div class="hero-cards">
            <div class="hero-card">
                <div class="artist-desc">
                    <div class="artist-info">
                        <h4 class="artist-name">Randy George</h4>
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                    <p class="artist-subinfo">Art Director</p>
                </div>
                <div class="artist-image">
                    <img src="/img/nfts/image2.jpeg" alt="">
                </div>
            </div>
            <div class="hero-card">
                <div class="artist-desc">
                    <div class="artist-info">
                        <h4 class="artist-name">Zain Lubin</h4>
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                    <p class="artist-subinfo">Art Director</p>
                </div>
                <div class="artist-image">
                    <img src="/img/nfts/image1.jpeg" alt="">
                </div>
            </div>
            <div class="hero-card">
                <div class="artist-desc">
                    <div class="artist-info">
                        <h4 class="artist-name">Jakob George</h4>
                        <div class="verified-icon">
                            <i class="star-icon"></i>
                            <i class="fa-solid fa-check check-icon"></i>
                        </div>
                    </div>
                    <p class="artist-subinfo">Art Director</p>
                </div>
                <div class="artist-image">
                    <img src="/img/nfts/image3.jpeg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="roadmap-section">
        <div class="container">
            <div class="roadmap">
                <div class="roadmap-info">
                    <h2 class="section-title">Road-Map</h2>
                    <p class="section-desc">
                        This is our roadmap so far, but this is only the begining, we want to
                        build our project around our community, so if you have more ideas we are all ears.
                    </p>
                </div>
                <div class="roadmap-phases">
                    <div class="roadmap-line">
                        <i class="roadmap-circle"></i>
                        <i class="roadmap-circle"></i>
                        <i class="roadmap-circle"></i>
                        <i class="roadmap-circle"></i>
                        <i class="roadmap-vector"></i>
                    </div>
                    <div class="phases">
                        <div class="phase">
                            <h3 class="phase-title">Phase 1</h3>
                            <p class="phase-desc">It is a long estabilished fact that a reader will be</p>
                        </div>
                        <div class="phase">
                            <h3 class="phase-title">Phase 2</h3>
                            <p class="phase-desc">It is a long estabilished fact that a reader will be</p>
                        </div>
                        <div class="phase">
                            <h3 class="phase-title">Phase 3</h3>
                            <p class="phase-desc">It is a long estabilished fact that a reader will be</p>
                        </div>
                        <div class="phase">
                            <h3 class="phase-title">Phase 4</h3>
                            <p class="phase-desc">It is a long estabilished fact that a reader will be</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @if (Auction != null)
    {
        <section class="auction-section">
            <div class="container">
                <div class="auction">
                    <div class="auction-image">
                        <a href="@($"/nft/{Auction.Nft.Id}")">
                            <img src="@Auction.Nft.ImageUrl">
                        </a>
                    </div>
                    <div class="auction-desc">
                        <div class="auction-info">
                            @if (Auction.NftStatus == NftStatus.Listed)
                            {
                                <div class="auction-badge">
                                    <i class="live-icon"></i>
                                    <h4 class="auction-text-black">Live Now</h4>
                                </div>
                            }
                            <div class="auction-nft-desc">
                                <div class="nft-auction-detail">
                                    <h2 class="nft-auction-name">@Auction.Nft.Name</h2>
                                </div>
                                @if (Auction.NftStatus != NftStatus.Not_On_Sale)
                                {
                                    <div class="auction-details">
                                        <div class="auction-detail">
                                            @if (Auction.CurrentBid > 0)
                                            {
                                                <p class="auction-text-grey">Current bid</p>
                                                <h4 class="auction-text-black eth">@Auction.CurrentBid @Auction.Currency</h4>
                                            }
                                            else
                                            {
                                                <p class="auction-text-grey">Buy now price</p>
                                                <h4 class="auction-text-black eth">@Auction.Price @Auction.Currency</h4>
                                            }
                                        </div>
                                        @if (Auction.NftStatus == NftStatus.Listed)
                                        {
                                            <div class="auction-detail">
                                                <p class="auction-text-grey">Auction ending in</p>
                                                <h4 class="auction-text-black countdown">@CountdownDisplay</h4>
                                            </div>
                                        }
                                        else if (Auction.NftStatus == NftStatus.Expired)
                                        {
                                            <div class="auction-detail">
                                                <p class="auction-text-grey">Auction ended</p>
                                                <h4 class="auction-text-black">Expired</h4>
                                            </div>
                                        }
                                        else if (Auction.NftStatus == NftStatus.Not_Started)
                                        {
                                            <div class="auction-detail">
                                                <p class="auction-text-grey">Auction starting in</p>
                                                <h4 class="auction-text-black">@Auction.StartTime.ToString("MM/dd/yyyy")</h4>
                                            </div>
                                        }
                                    </div>
                                }
                                <div class="nft-auction-creator">
                                    <div class="nft-auction-card-section">
                                        <p class="auction-text-grey">Seller</p>
                                        <div class="auction-nft-card">
                                            <div class="avatar auction-avatar">
                                                <a href="#">
                                                    <img class="avatar-img" src="@Auction.Seller.Avatar?.ImageUrl">
                                                </a>
                                                <div class="avatar-icons">
                                                    <div class="verified-icon">
                                                        <i class="star-icon"></i>
                                                        <i class="fa-solid fa-check check-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="nft-auction-creator-name">@Auction.Seller.FullName</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="auction-terms">
                            <div class="term-check-icon" @onclick="() => isTermsAccepted = !isTermsAccepted">
                                <i class="fa-solid fa-check check-icon @(isTermsAccepted ? "" : "hidden")"></i>
                            </div>
                            <p class="auction-term">I Agree to AllBlocks. Term & Service</p>
                        </div>
                        <div class="auction-buttons">
                            <a href="@($"/nft/{Auction.Nft.Id}")">
                                <button class="auction-button btn-green" disabled="@(!isTermsAccepted)">Check out</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    @if (PopularNfts != null && PopularNfts.Count > 0)
    {
        <section class="popular-collections-section">
            <div class="container">
                <div class="popular-collections">
                    <div class="popular-collections-header">
                        <h2 class="section-title">Get Popular Collection</h2>
                        <a href="/collection" class="see-all">See all</a>
                    </div>
                    <div class="popular-collection-cards">
                        @for (int i = 0; i < Math.Min(PopularNfts.Count, 4); i++)
                        {
                            <div class="nft-card">
                                <a href="@($"nft/{PopularNfts[i].Id}")">
                                    <h4 class="nft-name">@PopularNfts[i].Name</h4>
                                </a>
                                <a href="@($"nft/{PopularNfts[i].Id}")">
                                    <div class="nft-card-image">
                                        <img src="@PopularNfts[i].ImageUrl" class="nft-image">
                                    </div>
                                </a>
                                <div class="nft-detail">
                                    @if (PopularNfts[i].NftStatus == NftStatus.Not_On_Sale)
                                    {
                                        <div class="nft-status nft-status-not-sale">
                                            <h4>Not on sale</h4>
                                        </div>
                                    }
                                    else if (PopularNfts[i].NftStatus == NftStatus.Not_Started)
                                    {
                                        <div class="nft-status nft-status-not-sale">
                                            <h4>Not Started</h4>
                                            <p>Starts at: @PopularNfts[i].Auction!.StartTime.ToString("MM/dd/yyyy")</p>
                                        </div>
                                    }
                                    else if (PopularNfts[i].NftStatus == NftStatus.Expired)
                                    {
                                        <div class="nft-status">
                                            <p>Highest bid</p>
                                            <h4 class="nft-price">@PopularNfts[i].Auction!.Price @PopularNfts[i].Auction.Currency</h4>
                                        </div>
                                        <div class="nft-time">
                                            <span class="expired">Expired</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="nft-status">
                                            <p>Highest bid</p>
                                            <h4 class="nft-price">@PopularNfts[i].Auction!.Price @PopularNfts[i].Auction.Currency</h4>
                                        </div>
                                        <div class="nft-time">
                                            <span class="countdown" data-date="@PopularNfts[i].Auction.EndTime">04:45:32</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }

    @if (Collectors != null && Collectors.Count > 4)
    {
        <section class="top-collectors-section">
            <h2 class="section-title">Our Top Collectors</h2>
            <div class="top-collectors-list auto-scroll">
                @for (int i = 0; i < Math.Min(Collectors.Count, 6); i++)
                {
                    <div class="top-collector">
                        <p class="top-collector-place"></p>
                        <div class="avatar">
                            <a href="#"><img class="avatar-img" src="@Collectors[i].Avatar?.ImageUrl" alt=""></a>
                            <div class="avatar-icons">
                                <div class="verified-icon">
                                    <i class="star-icon"></i>
                                    <i class="fa-solid fa-check check-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="top-collector-info">
                            <h4 class="top-collector-name">@Collectors[i].FullName</h4>
                            <div class="top-collector-eth">
                                <i class="fa-brands fa-ethereum"></i>
                                <p class="eth-value">@Collectors[i].AuctionsSumPrice</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Collectors.Count > 10)
            {
                <div class="top-collectors-list auto-scroll">
                    @for (int i = 6; i < Math.Min(Collectors.Count, 12); i++)
                    {
                        <div class="top-collector">
                            <p class="top-collector-place"></p>
                            <div class="avatar">
                                <a href="#"><img class="avatar-img" src="@Collectors[i].Avatar?.ImageUrl" alt=""></a>
                                <div class="avatar-icons">
                                    <div class="verified-icon">
                                        <i class="star-icon"></i>
                                        <i class="fa-solid fa-check check-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="top-collector-info">
                                <h4 class="top-collector-name">@Collectors[i].FullName</h4>
                                <div class="top-collector-eth">
                                    <i class="fa-brands fa-ethereum"></i>
                                    <p class="eth-value">@Collectors[i].AuctionsSumPrice</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </section>
    }

    <section class="newsletter-section">
        <div class="container">
            <div class="newsletter-faq">
                <div class="newsletter">
                    <div class="newsletter-info">
                        <h2 class="section-title">
                            Get the Latest Super <br> Rare Update
                        </h2>
                        <p class="section-desc">
                            Sign up to our regular newsletter for news right. <br>
                            New product release and more
                        </p>
                    </div>
                    <form method="post" class="get-in-touch-form">
                        <div class="get-in-touch-input-box">
                            <i class="fa-regular fa-envelope sms-icon"></i>
                            <input type="email" name="email" class="get-in-touch-input" placeholder="Email address">
                        </div>
                        <button type="submit" class="get-in-touch-button btn-green">Get In Touch</button>
                    </form>
                </div>
                <div class="faq-container">
                    <h2 class="faq-title">
                        Maybe your question is have been
                        answered, check this out!
                    </h2>
                    <div class="faq-list">
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>When does minting begin?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>Who can mint one?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                        <div class="faq dropdown">
                            <div class="faq-question dropdown-btn">
                                <h4>Why should I hold one?</h4>
                                <i class="fa-solid fa-arrow-down arrow-icon"></i>
                            </div>
                            <p class="faq-answer section-desc dropdown-content">
                                Initial distribution will begin on February 1st 2022 at 3:00 PM
                                UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the
                                reveal will happen by this point in time. The initial distribution will be tiered to
                                the benefit of those who have traded or voted on dYdX.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="join-section">
        <div class="join-info">
            <h2 class="section-title">Let's Join The Team</h2>
            <p class="section-desc">Let us guide you!</p>
        </div>
        <div class="join-buttons">
            <button class="btn-green join-button">Try Now</button>
            <button class="btn-outline-green join-button">
                <i class="fa-brands fa-discord"></i>
                Join Discord
            </button>
        </div>
    </section>

    <section class="partners-section">
        <div class="partners-list auto-scroll">
            <div class="partner">
                <img src="/img/partners/partner1.svg">
            </div>
            <div class="partner">
                <img src="/img/partners/partner2.svg">
            </div>
            <div class="partner">
                <img src="/img/partners/partner3.svg">
            </div>
            <div class="partner">
                <img src="/img/partners/partner4.svg">
            </div>
            <div class="partner">
                <img src="/img/partners/partner5.svg">
            </div>
            <div class="partner">
                <img src="/img/partners/partner1.svg">
            </div>
        </div>
        <div class="partners-list auto-scroll">
            <div class="partner">
                <img src="/img/partners/partner3.svg">
            </div>
            <div class="partner">
                <img src="/img/partners/partner5.svg">
            </div>
            <div class="partner">
                <img src="/img/partners/partner1.svg">
            </div>
            <div class="partner">
                <img src="/img/partners/partner4.svg">
            </div>
            <div class="partner">
                <img src="/img/partners/partner2.svg">
            </div>
            <div class="partner">
                <img src="/img/partners/partner3.svg">
            </div>
        </div>
    </section>
</main>

